name: "Build"
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v15
      with:
        name: goj
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix build .#freecad .#freecad-dev
